*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 1500px;
}

body {
  
  background: linear-gradient(90deg, rgba(108, 61, 142, 0.74) 0%, rgb(108, 61, 142, 0.74) 35%, rgba(108, 61, 142, 0.74) 100%);
 

  color: white;
  width: 95%;
  max-width: 1500px;
  margin: 2vw;
}

section {
  margin: 5rem 2rem;
}

/* Navigation Styles */

header {
  background: black;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 95%;
  max-width: 1500px;
  
}

.logo {
  font-size: 1.25rem;
  margin: 1rem;
  text-transform: uppercase;
}

nav {
  position: absolute;
  top: 100%;
  left: 0;
  text-align: left;
  background: black;
  width: 100%;
  height: 50vh;
  padding: 1rem;
  margin-top: 1rem;
  
  display: none;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
 
}

nav li {
  margin-bottom: 1.5em;
  margin-left: 1em;
 
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #ffa98e;
}

.nav-toggle:checked ~ nav {
  display: block;
}

@media (min-width: 900px) {
  .nav-toggle-label {
    display: none;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background:linear-gradient(90deg, rgb(44, 5, 56) 0%, rgb(33, 7, 25) 35%, rgb(10, 23, 49) 100%);
    margin-top: 19px;
    margin-left: 9px;
  }
  
  nav {
    all: unset;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 1em;
  }
  
  nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
   nav li { 
    margin-bottom: 0;
    padding: 0;
  }
}

/* Section One */

.section-one {
  margin: 11rem 2rem 0;
  
}

.header {
  font-size: 5vw;
  
  line-height: 5vw;
}

.section-one-paragraph {
  margin: 3rem 0;
  width: 70%;
  max-width: 500px;
  line-height: 1.5rem;
  
}



.learn-more-btn {
  background: white;
  padding: 5px 20px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 200;
  border-radius: 50px;
  font-size: .8rem;
  text-decoration: none;
  color: black;
}

.learn-more-btn:hover {
  background: #6c83ff;
  color: white;
}

/* Section Two */



#slider{


  overflow: hidden;
}

#slider figure{

position: relative;
width: 500%;
margin: 0;
left: 0;
animation: 20s slider infinite;

}

#slider figure img{


  width: 20%;
  float: left;
}

@keyframes slider{

  0%{
    
    left:0;

  }
  20%{


    left: 0;

  }

  25%{

    left: -100%;
  }

  45%{

    left: -100%;
  }

  50%{

    left: -200%;
  }

  70%{

    left: -200%;
  }
  
  75%{

    left: -300%;
  }

  95%{

    left: -300%;
  }

  100%{

    left: -400%;
  }
}




/* Section Three */

.section-three h3 {
  margin: 0 auto;
  width: 80%;
  max-width: 700px;
  font-size: 5vw;
  font-weight: 600;
  text-align: center;
}

/* Section Four */

.flex-group {
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 3rem;
}

.flex-groupfour{


position: relative;
transition: transform 0.5s;
cursor: pointer;

}

.lucki{

  display: flex;
  width: 100%;
  height: auto;
}

.overlay{

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
 
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;

}

.flex-groupfour:hover{

  transform: translateY(-9px);
  


}
 
.flex-groupfour:hover .overlay{

  height: 100%;

}


.overlay h3{

  width: 100%;
  margin-top: 30%;
  color: whitesmoke;
  font-size: 5vw;
  position: absolute;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  
}

.overlay h3 img{

 width: 170px;
 height: 120px; 
 background-size: cover;
 background-position: center;
 margin: 10px auto;
  
  

}

 


 


.section-four p {
  margin-bottom: 2rem;
}

.section-four-btn {
  margin-bottom: rem;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 200;
}

/* Section Five */

.flex-groupfive{


  position: relative;
  transition: transform 0.5s;
  cursor: pointer;
  
  }

  .luckyslooo{

    display: flex;
    width: 100%;
    height: auto;
  }
  

  .overlayone{

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
   
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  
  }

  .flex-groupfive:hover{

    transform: translateY(-9px);
    
  
  }

  .flex-groupfive:hover .overlayone{

    height: 100%;
  
  }


  .overlayone h3{

    width: 100%;
    margin-top: 30%;
    color: whitesmoke;
    font-size: 5vw;
    position: absolute;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    
  }


  .overlayone h3 img{

    width: 170px;
    height: 120px; 
    background-size: cover;
    background-position: center;
    margin: 10px auto;
     
     
  }
   

.section-five-flex-group {
  flex-direction: row-reverse;
}

.section-five p {
  margin-bottom: 2rem;
}

/* Section Six */


.flex-groupsix{


  position: relative;
  transition: transform 0.5s;
  cursor: pointer;
  
  }

  .megapanalo{

    display: flex;
    width: 100%;
    height: auto;
  }
  

  .overlaytwo{

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
   
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  
  }

  .flex-groupsix:hover{

    transform: translateY(-9px);
    
  
  }

  .flex-groupsix:hover .overlaytwo{

    height: 100%;
  
  }


  .overlaytwo h3{

    width: 100%;
    margin-top: 30%;
    color: whitesmoke;
    font-size: 5vw;
    position: absolute;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    
  }


  .overlaytwo h3 img{

    width: 170px;
    height: 120px; 
    background-size: cover;
    background-position: center;
    margin: 10px auto;
     
     
  }
   






.section-six p {
  margin-bottom: 2rem;
}

/* Flex Group Mobile */

@media (max-width: 800px) {
  .flex-group {
    flex-direction: column;
  }
}

/* Section Seven */

.section-seven h3 {
  margin: 0 auto;
  width: 80%;
  max-width: 700px;
  font-size: 5vw;
  font-weight: 600;
  text-align: center;
}

.section-seven-btn {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  width: 7.5rem;
}

/* Section Eight */


.flex-groupseven{


  display: inline-block;
  position: relative;
  transition: transform 0.5s;
  cursor: pointer;
  
  }

 

  .hwak{

    display: flex;
    width: 100%;
    height: auto;
  }
  

  .overlaythree{

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(9, 9, 9, 0.916);
    display: flex;
   
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  
  }

  .flex-groupseven:hover{

    transform: translateY(-9px);
    
  
  }

  .flex-groupseven:hover .overlaythree{

    height: 100%;
  }


  .overlaythree{

    width: 100%;
    margin-top: 30%;
    color: whitesmoke;
    
    font-size: 5vw;
    position: absolute;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    
  }

  .overlaythree h3 img{

    width: 170px;
    height: 120px; 
    background-size: cover;
    background-position: center;
    
    margin: 10px auto;
     
     
  }

  .flex-groupeleven{


    display: inline-block;
    position: relative;
    transition: transform 0.5s;
    cursor: pointer;
    
    }
  
   
  
    .luckiii{
  
      display: flex;
      width: 100%;
      height: auto;
    }
    
  
    .overlayfive{
  
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(9, 9, 9, 0.916);
      display: flex;
     
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: .5s ease;
    
    }
  
    .flex-groupeleven:hover{
  
      transform: translateY(-9px);
      
    
    }
  
    .flex-groupeleven:hover .overlayfive{
  
      height: 100%;
    }
  
  
    .overlayfive{
  
      width: 100%;
      margin-top: 30%;
      color: whitesmoke;
      
      font-size: 5vw;
      position: absolute;
      align-items: center;
      font-family: Arial, Helvetica, sans-serif;
      
    }
  
    .overlayfive h3 img{
  
      width: 170px;
      height: 120px; 
      background-size: cover;
      background-position: center;
      
      margin: 10px auto;
       
       
    }
  

.section-eight h4 {
  overflow:none;
  margin: 1rem 0;
  font-size: 1.25rem;
}

.section-eight p {
  line-height: 1.5rem;
}

.section-eight img {
  
}

.flex-group-eight {
  display: flex;
  gap: 2rem;
}

@media (max-width: 800px) {
  .flex-group-eight {
    flex-direction: column;
  }
}

/* Section Nine */

.section-nine {
  margin-top: 15rem;
}

.logo-container {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
}

.section-nine svg {
  fill: white;
  height: 50px;
  cursor: pointer;
  transition: ease-in-out 250ms;
}

.section-nine svg:hover {
  transform: translateY(-10px);
  fill: #ffa98e;
}


/* Section Ten */

.section-ten h3 {
  margin: 15rem auto 2rem;
  width: 80%;
  max-width: 700px;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.section-ten-btn {
  text-align: center;
  display: flex;  
  justify-content: center;
  margin: 0 auto;
  width: 7.5rem;
}






